<?xml version="1.0" encoding="utf-8"?>
<ExportStructure xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Fields>
		<ExportField Caption="Дата" PropertyName="IssueDate" ExcelFormat="DD.MM.YYYY" Width="12" />
		<ExportField Caption="Бронировщик" PropertyName="Booker" Width="25" />
		<ExportField Caption="Тикетер" PropertyName="Ticketer" Width="25" />
		<ExportField Caption="Код тикетера">
			<ChildFields>
				<ExportField PropertyName="TicketerOffice" Width="12" />
				<ExportField PropertyName="TicketerCode" Width="10" />
			</ChildFields>
		</ExportField>
		<ExportField Caption="Тип" PropertyName="Type" Width="8" />
		<ExportField Caption="Код АК" PropertyName="AirlinePrefixCode" Width="8" />
		<ExportField Caption="Номер" PropertyName="Number" Width="12" ExcelFormat="0000000000" />
		<ExportField Caption="Пассажир" PropertyName="PassengerName" Width="40" />
		<ExportField Caption="Маршрут" PropertyName="Itinerary" Width="40" />
		<ExportField Caption="Отправление" PropertyName="Departure" ExcelFormat="dd.MM.yyyy hh:mm" Width="16" />
		<ExportField Caption="Классы сегментов" PropertyName="SegmentClasses" Width="15" />
		<ExportField Caption="Туркод" PropertyName="TourCode" Width="15" />

		<ExportField Caption="Тариф">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="Fare" />
				<ExportField Caption="USD" PropertyName="Fare_USD" />
				<ExportField Caption="EUR" PropertyName="Fare_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="Экв. тариф">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="EqualFare" />
				<ExportField Caption="USD" PropertyName="EqualFare_USD" />
				<ExportField Caption="EUR" PropertyName="EqualFare_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="Штраф за отмену">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="CancelFee" />
				<ExportField Caption="USD" PropertyName="CancelFee_USD" />
				<ExportField Caption="EUR" PropertyName="CancelFee_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="Таксы">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="FeesTotal" />
				<ExportField Caption="USD" PropertyName="FeesTotal_USD" />
				<ExportField Caption="EUR" PropertyName="FeesTotal_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="Итого по АК">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="Total" />
				<ExportField Caption="USD" PropertyName="Total_USD" />
				<ExportField Caption="EUR" PropertyName="Total_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="В т.ч. НДС">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="Vat" />
				<ExportField Caption="USD" PropertyName="Vat_USD" />
				<ExportField Caption="EUR" PropertyName="Vat_EUR" />
			</ChildFields>
		</ExportField>

		<!--<ExportField Caption="Экв. тариф" PropertyName="EqualFare" />
		<ExportField Caption="Штраф за отмену" PropertyName="CancelFee" />
		<ExportField Caption="Таксы" PropertyName="FeesTotal" />
		<ExportField Caption="Итого по АК" PropertyName="Total" />
		<ExportField Caption="В т.ч. НДС" PropertyName="Vat" />-->
		
		<ExportField Caption="Комиссия">
			<ChildFields>
				<ExportField Caption="Процент" PropertyName="CommissionPercent" ExcelFormat="#%" Width="9" />
				<ExportField Caption="Сумма" PropertyName="Commission" />
				<ExportField Caption="USD" PropertyName="Commission_USD" />
				<ExportField Caption="EUR" PropertyName="Commission_EUR" />
			</ChildFields>
		</ExportField>
		
		<ExportField Caption="Комисия за возврат">
			<ChildFields>
				<ExportField Caption="Процент" PropertyName="CancelCommissionPercent" ExcelFormat="#%" Width="9" />
				<ExportField Caption="Сумма" PropertyName="CancelCommission" />
				<ExportField Caption="USD" PropertyName="CancelCommission_USD" />
				<ExportField Caption="EUR" PropertyName="CancelCommission_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="Сумма к перечислению в АК">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="TotalToTransfer" />
				<ExportField Caption="USD" PropertyName="TotalToTransfer_USD" />
				<ExportField Caption="EUR" PropertyName="TotalToTransfer_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="Сервисный сбор">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="ServiceFee" />
				<ExportField Caption="USD" PropertyName="ServiceFee_USD" />
				<ExportField Caption="EUR" PropertyName="ServiceFee_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="Скидка">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="Discount" />
				<ExportField Caption="USD" PropertyName="Discount_USD" />
				<ExportField Caption="EUR" PropertyName="Discount_EUR" />
			</ChildFields>
		</ExportField>
		
		<ExportField Caption="К оплате">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="GrandTotal" />
				<ExportField Caption="USD" PropertyName="GrandTotal_USD" />
				<ExportField Caption="EUR" PropertyName="GrandTotal_EUR" />
			</ChildFields>
		</ExportField>

		<!--<ExportField Caption="Сумма к перечислению в АК" PropertyName="TotalToTransfer" />
		<ExportField Caption="Сервисный сбор" PropertyName="ServiceFee" />
		<ExportField Caption="Скидка" PropertyName="Discount" />
		<ExportField Caption="К оплате" PropertyName="GrandTotal" />-->
		
		<ExportField Caption="Тип оплаты" PropertyName="PaymentType" Width="9" />
		<ExportField Caption="Заказчик" PropertyName="Customer" Width="40" />
		<ExportField Caption="Посредник" PropertyName="Intermediary" Width="40" />
		<ExportField Caption="id заказчика" PropertyName="Customer.Id" Width="35" />
		<ExportField Caption="id посредника" PropertyName="Intermediary.Id" Width="35" />
		<ExportField Caption="Примечание" PropertyName="Note" Width="40" />
		<ExportField Caption="Продавец" PropertyName="Seller" Width="40" />
		<ExportField Caption="Владелец" PropertyName="Owner.Name" Width="40" />
		<ExportField Caption="Iata код" PropertyName="ProducerOrProviderAirlineIataCode" Width="8" />
		<ExportField Caption="Заказ" PropertyName="Order.Number" Width="15" />
		<ExportField Caption="Дата выпуска" PropertyName="Invoice.IssueDate" ExcelFormat="DD.MM.YYYY" Width="12" />
		<ExportField Caption="Дата оплаты" PropertyName="Invoice.PaymentTimestamp" ExcelFormat="DD.MM.YYYY" Width="12" />
		<ExportField PropertyName="Remarks" Width="30" />

		<ExportField Caption="Доп. доход от АК">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="Handling" />
				<ExportField Caption="USD" PropertyName="Handling_USD" />
				<ExportField Caption="EUR" PropertyName="Handling_EUR" />
			</ChildFields>
		</ExportField>

		<ExportField Caption="Ск. от ком. АК">
			<ChildFields>
				<ExportField Caption="указано" PropertyName="CommissionDiscount" />
				<ExportField Caption="USD" PropertyName="CommissionDiscount_USD" />
				<ExportField Caption="EUR" PropertyName="CommissionDiscount_EUR" />
			</ChildFields>
		</ExportField>

		<!--<ExportField Caption="Доп. доход от АК" PropertyName="Handling" />
		<ExportField Caption="Ск. от ком. АК" PropertyName="CommissionDiscount" />-->
		
		<ExportField Caption="Индоссамент" PropertyName="Endorsement" Width="60"/>
		<ExportField Caption="Бронировка" PropertyName="PnrCode" Width="60"/>
	</Fields>
	<DisplayCurrency>true</DisplayCurrency>
	<MoneyDefaultCurrencyWidth>6</MoneyDefaultCurrencyWidth>
	<MoneyDefaultAmountWidth>11</MoneyDefaultAmountWidth>
	<MoneyDefaultFormat>#,##0.00</MoneyDefaultFormat>
</ExportStructure>