@model LoginModel
<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Luxena Travel 15</title>
	@Styles.Render("~/Styles/Libs", "~/Styles/App")

	<script type="text/javascript">
		function onBodyLoad() {
			var el = document.getElementById('UserName');

			if (el.value) {
				el = document.getElementById('Password');
			}

			el.focus();
			el.select();
		}
	</script>
</head>
<body onload="onBodyLoad()" class="dx-theme-generic-typography wrap-bg-color">

	<div style="width: 500px; margin: 10% auto 0 auto">

		<div class="form-panel">

			<div class="form-header-simple">
				<h1>Luxena Travel 15</h1>
			</div>

			@{ Html.BeginForm(); }

			<div class="dx-fieldset" style="margin: 0 20px">

				<div class="dx-field">
					<div class="dx-field-label">Логин:</div>
					<div class="dx-field-value">
						<div class="dx-texteditor dx-widget dx-textbox" title="Логин">
							<div class="dx-texteditor-container">
								<input id="UserName" name="UserName" type="text" class="dx-texteditor-input" autocomplete="off" spellcheck="false" role="textbox">
							</div>
						</div>
					</div>
				</div>

				<div class="dx-field">
					<div class="dx-field-label">Пароль:</div>
					<div class="dx-field-value">
						<div class="dx-texteditor dx-texteditor-empty dx-widget dx-textbox" title="Новый пароль">
							<div class="dx-texteditor-container">
								<input id="Password" name="Password" type="password" class="dx-texteditor-input" autocomplete="off" spellcheck="false" maxlength="20" role="textbox">
							</div>
						</div>
					</div>
				</div>


				<div class="dx-field">
					<div class="dx-field-label"></div>
					<div class="dx-field-value-static">
						<label>@Html.CheckBoxFor(m => m.RememberMe)</label>запомнить меня
					</div>
				</div>

				<div style="color: crimson; text-align: center">
					@Html.ValidationMessage("")
				</div>
				<div style="width: 200px; margin: 0 auto">
					<input id="submit" type="submit" value="Войти" class="smart-action-button dx-widget dx-button-has-icon dx-button-has-text dx-button dx-button-default" style="color: white" />
				</div>

				@{ Html.EndForm(); }

			</div>
		</div>
	</div>

</body>
</html>