<div data-options="dxView: { name: 'support', title: 'Отзывы и предложения', icon: 'support' }">

	<iframe style="width: 100%; height: 99.5%; border: 0;" frameborder="0" src="http://reformal.ru/widget/850945"></iframe>
	
</div>
