<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Luxena.Travel.Data" value="LxnTravel" />
		<add key="Luxena.Travel.Domain" value="LxnTravel" />
		<add key="Luxena.Travel.Configuration" value="LxnTravel.Cfg" />
		<add key="Luxena.Travel" value="LxnTravel" />
		<add key="Luxena.Base" value="LxnBase" />
	</appSettings>
</configuration>