<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<properties>
		<fullAccessPath>D:\data\travel\apps\_FileServer\data\merci\outbox\</fullAccessPath>
		<readOnlyAccessPath>d:\data\ftp\LocalUser\Merci\ReadOnly\</readOnlyAccessPath>
	</properties>


	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultTicketPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<displayUnticketedSegments>false</displayUnticketedSegments>
			</parameters>

		</component>

		<component
			id="orderPrinter"
			service="Luxena.Travel.Reports.IOrderPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultOrderPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
		</component>


		<component
			id="cashOrderForm"
			service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
			type="Luxena.Travel.Reports.CashOrderFormUkrainian, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />

		<component
			id="aviaDocumentExcelBuilder"
			type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../conf/export.config</exportConfig>
			</parameters>

		</component>



		<component
			id="exportFtp"
			type="Luxena.Travel.Reports.ExportFtp2011, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" >

			<parameters>
				<fullAccessPath>#{fullAccessPath}</fullAccessPath>
				<readOnlyAccessPath>#{readOnlyAccessPath}</readOnlyAccessPath>
				<exportConfigFileFtp>D:\data\travel\apps\merci\conf\export.config</exportConfigFileFtp>
			</parameters>

		</component>

		<!--component
			id="gdsFileManager"
			type="Luxena.Travel.Managers.GdsFileManager, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" >

			<parameters>
				<neutralAirlineCode>100</neutralAirlineCode>
			</parameters>

		</component-->

		<component
			id="printImportService"
			type="Luxena.Travel.Services.PrintImportService, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" >

			<parameters>
				<userMapping>
					<dictionary>
						<entry key="biloshytska.svitlana">svetlana.biloshytska</entry>
						<entry key="tatyana.shevchenko">tatyana.shevchenko</entry>
						<entry key="v.miroshnichenko">valentina.miroshnichenko</entry>
						<entry key="vasilkova.svetlana">svetlana.vasilkova</entry>
					</dictionary>
				</userMapping>
			</parameters>

			<interceptors>
				<interceptor>${serviceInterceptor}</interceptor>
			</interceptors>

		</component>

		<component
			id="exporter"
			service="Luxena.Travel.Export.IExporter, Luxena.Travel"
			type="Luxena.Travel.Export.XmlExporter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportPath>D:\data\travel\apps\_FileServer\data\merci\outbox</exportPath>
			</parameters>

			<forwardedTypes>
				<add service="Luxena.Travel.Export.IAviaDocumentExporter, Luxena.Travel" />
			</forwardedTypes>

		</component>

		<component
			id="olap"
			type="Luxena.Travel.Domain.OlapService, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<connectionString>Data Source=analysis.travel.luxena.com</connectionString>
				<database>Merci2 Travel</database>
			</parameters>

		</component>


		<!--<component
			id="entityExporter"
			service="Luxena.Travel.Reports.IEntityExporter, Luxena.Travel"
			type="Luxena.Travel.Reports.InvoiceXmlExporter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<exportPath>#{invoiceExportPath}</exportPath>
				<archivePath>#{invoiceArchivePath}</archivePath>
				<dateFormat>yyyy-MM-dd HH:mm:ss</dateFormat>
			</parameters>
		</component>-->



		<component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>airTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<!--component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Remote</accessMode>
				<uri>ftp://Merci:Merc1Acy@ftp.amadeus.com:8021/FullAccess</uri>
			</parameters>
		</component-->

		<component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.AmadeusSftpFileTask, Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<userName>Merci</userName>
				<password>Merc1Acy</password>
			</parameters>
		</component>


		<!--component
			id="airLocalTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>500</interval>
				<taskName>airLocalTask</taskName>
			</parameters>

		</component>

		<component
			id="airLocalTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" >

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\merci\inbox\air</localPath>
			</parameters>

		</component-->

	</components>

</configuration>