*.pdb
.vs/
bin/
obj/
/build/web-app/
/*.zip
/src/logs
/build-*
/db/*.sql
/db/restore*


*.backup

*.zip
*.7z
/src.15/logs/default/*.log
/src/.vs/Core/*.scgdat
*.scgdat
/docs/Sabre/terminal/~$рин с терминала.docx
