<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultTicketPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<displayUnticketedSegments>false</displayUnticketedSegments>
			</parameters>

		</component>


		<component
			id="orderPrinter"
			service="Luxena.Travel.Reports.IOrderPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultOrderPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
		</component>

		<component
			id="cashOrderForm"
			service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
			type="Luxena.Travel.Reports.CashOrderFormUkrainian, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="aviaDocumentExcelBuilder"
			type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../conf/export.config</exportConfig>
			</parameters>

		</component>


		<component
			id="birthdayTaskRunner"
			type="Luxena.Travel.Services.ScheduledTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<days>1</days>
				<hours>0</hours>
				<minutes>0</minutes>
				<taskNames>
					<array>
						<item>birthdayTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="birthdayTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.BirthdayTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<!--component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>airTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="airTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Remote</accessMode>
				<uri>===ftp://BiletivSvit:ievu23561@ftp.amadeus.com:8021/FullAccess</uri>
			</parameters>

		</component>


		<component
			id="localFilesTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>500</interval>
				<taskNames>
					<array>
						<item>mirTask</item>
						<item>tktTaskArtema</item>
						<item>tktTaskSaksaganskogo</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="mirTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.MirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\elegant\inbox\mir\</localPath>
			</parameters>

		</component!-->

		<component
			id="olap"
			type="Luxena.Travel.Domain.OlapService, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<connectionString>Data Source=analysis.travel.luxena.com</connectionString>
				<database>Elegant Travel</database>
			</parameters>

		</component>


	</components>

</configuration>