<connectionStrings>
	<!--<add connectionString="User Id=atlastour;Password=atlastour;Server=localhost;Database=travel;" name="Domain" providerName="Npgsql"/>-->
	<!--	<add connectionString="User Id=atlastour;Password=atlastour;Server=srv03.luxena.com;Database=travel;" name="Domain" providerName="Npgsql"/>-->
	<!--		<add connectionString="User Id=bsv;Password=bsv;Server=localhost;Database=travel;" name="Domain" providerName="Npgsql"/>-->
	<!--<add connectionString="User Id=kiyavia;Password=kiyavia;Server=srv03.luxena.com;Database=travel;" name="Domain" providerName="Npgsql"/>-->
	<!--<add connectionString="User Id=silpovoyage;Password=silpovoyage;Server=localhost;Database=travel;" name="Domain" providerName="Npgsql"/>-->
	<!--	<add connectionString="User Id=silpovoyage;Password=silpovoyage;Server=srv03.luxena.com;Database=travel;" name="Domain" providerName="Npgsql"/>-->
	<add connectionString="User Id=ufsa;Password=ufsa;Server=localhost;Database=travel;" name="Domain" providerName="Npgsql"/>
</connectionStrings>