<?xml version="1.0" encoding="utf-8" ?>
<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<appender name="rollingFile" type="log4net.Appender.RollingFileAppender, log4net">
		<file value="..\..\..\logs\utb\"/>
		<appendToFile value="true"/>
		<rollingStyle value="Composite"/>
		<datePattern value="yyyy-MM-dd.LOG"/>
		<maxSizeRollBackups value="10"/>
		<maximumFileSize value="100MB"/>
		<staticLogFileName value="false"/>
		<layout type="Luxena.Base.Web.Logging.HttpRequestPatternLayout, Luxena.Base.Web">
			<conversionPattern value="%d [%4t] %-5p %c - %m%userinfo %n"/>
		</layout>
	</appender>

	<appender name="smtpAppender" type="Luxena.Base.Web.Logging.SslSmtpAppender">
		<to value="helpdesk@luxena.com"/>
		<from value="mailer@luxena.com"/>
		<subject value="Luxena Travel [UTB]"/>
		<smtpHost value="smtp.gmail.com"/>
		<port value="587"/>
		<enableSsl value="true"/>
		<bufferSize value="512"/>
		<lossy value="true"/>
		<authentication value="Basic"/>
		<username value="mailer@luxena.com"/>
		<password value="mailer_pass"/>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<param name="AcceptOnMatch" value="false"/>
			<loggerToMatch value="NHibernate"/>
		</filter>
		<filter type="log4net.Filter.LoggerMatchFilter">
			<param name="AcceptOnMatch" value="false"/>
			<loggerToMatch value="Luxena.Travel.Services.AirFileTask"/>
		</filter>
		<evaluator type="log4net.Core.LevelEvaluator">
			<threshold value="ERROR"/>
		</evaluator>
		<layout type="Luxena.Base.Web.Logging.HttpRequestPatternLayout, Luxena.Base.Web">
			<conversionPattern value="%newline%date %-5level %logger [%property{NDC}]- %message%userinfo %newline"/>
		</layout>
	</appender>

	<root>
		<priority value="WARN"/>
		<appender-ref ref="rollingFile"/>
		<appender-ref ref="smtpAppender"/>
	</root>

	<logger name="Luxena.Travel">
		<priority value="INFO"/>
	</logger>

	<logger name="NHibernate.Engine.StatefulPersistenceContext.ProxyWarnLog">
		<level value="ERROR" />
	</logger>
	
	<!--logger name="NHibernate">
		<level value="ALL"/> 
	</logger-->

	<!--logger name="NHibernate.SQL">
		<level value="ALL"/> 
	</logger-->

</log4net>
