<?xml version="1.0" encoding="utf-8"?>
<ExportStructure xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<Fields>
		<ExportField Caption="Дата" PropertyName="IssueDate" ExcelFormat="DD.MM.YYYY" Width="12" />
		<ExportField Caption="Бронировщик" PropertyName="Booker" Width="25" />
		<ExportField Caption="Тикетер" PropertyName="Ticketer" Width="25" />
		<ExportField Caption="Код тикетера">
			<ChildFields>
				<ExportField PropertyName="TicketerOffice" Width="12" />
				<ExportField PropertyName="TicketerCode" Width="10" />
			</ChildFields>
		</ExportField>
		<ExportField Caption="Тип" PropertyName="Type" Width="8" />
		<ExportField Caption="Код АК" PropertyName="AirlinePrefixCode" Width="8" />
		<ExportField Caption="Номер" PropertyName="Number" Width="12" ExcelFormat="0000000000" />
		<ExportField Caption="Пассажир" PropertyName="PassengerName" Width="40" />
		<ExportField Caption="Маршрут" PropertyName="Itinerary" Width="40" />
		<ExportField Caption="Отправление" PropertyName="Departure" ExcelFormat="dd.MM.yyyy hh:mm" Width="16" />
		<ExportField Caption="Классы сегментов" PropertyName="SegmentClasses" Width="15" />
		<ExportField Caption="Туркод" PropertyName="TourCode" Width="15" />
		<ExportField Caption="Тариф" PropertyName="Fare" />
		<ExportField Caption="Экв. тариф" PropertyName="EqualFare" />
		<ExportField Caption="Штраф за отмену" PropertyName="CancelFee" />
		<ExportField Caption="Tаксы" PropertyName="FeesTotal" />
		<ExportField Caption="Итого по АК" PropertyName="Total" />
		<ExportField Caption="В т.ч. НДС" PropertyName="Vat" />
		<ExportField Caption="Комиссия">
			<ChildFields>
				<ExportField Caption="Процент" PropertyName="CommissionPercent" ExcelFormat="#%" Width="9" />
				<ExportField Caption="Сумма" PropertyName="Commission" />
			</ChildFields>
		</ExportField>
		<ExportField Caption="Комисия за возврат">
			<ChildFields>
				<ExportField Caption="Процент" PropertyName="CancelCommissionPercent" ExcelFormat="#%" Width="9" />
				<ExportField Caption="Сумма" PropertyName="CancelCommission" />
			</ChildFields>
		</ExportField>
		<ExportField Caption="Сумма к перечислению в АК" PropertyName="TotalToTransfer" />
		<ExportField Caption="Сервисный сбор" PropertyName="ServiceFee" />
		<ExportField Caption="Скидка" PropertyName="Discount" />
		<ExportField Caption="К оплате" PropertyName="GrandTotal" />
		<ExportField Caption="Тип оплаты" PropertyName="PaymentType" Width="9" />
		<ExportField Caption="Заказчик" PropertyName="Customer" Width="40" />
		<ExportField Caption="ЕДРПОУ заказчика" PropertyName="Customer.Code" Width="9" />
		<ExportField Caption="Посредник" PropertyName="Intermediary" Width="40" />
		<ExportField Caption="id заказчика" PropertyName="Customer.Id" Width="35" />
		<ExportField Caption="id посредника" PropertyName="Intermediary.Id" Width="35" />
		<ExportField Caption="Примечание" PropertyName="Note" Width="40" />
		<ExportField Caption="Продавец" PropertyName="Seller" Width="40" />
		<ExportField Caption="Владелец" PropertyName="Owner.Name" Width="40" />
		<ExportField Caption="Iata код" PropertyName="ProducerOrProviderAirlineIataCode" Width="8" />
		<ExportField Caption="Заказ" PropertyName="Order.Number" Width="15" />
		<ExportField Caption="Дата выпуска" PropertyName="Invoice.IssueDate" ExcelFormat="DD.MM.YYYY" Width="12" />
		<ExportField Caption="Дата оплаты" PropertyName="Invoice.PaymentTimestamp" ExcelFormat="DD.MM.YYYY" Width="12" />
		<ExportField PropertyName="Remarks" Width="30" />
		<ExportField Caption="Доп. доход от АК" PropertyName="Handling" />
		<ExportField Caption="Ск. от ком. АК" PropertyName="CommissionDiscount" />
		<ExportField Caption="Индоссамент" PropertyName="Endorsement" Width="60"/>
		<ExportField Caption="Бронировка" PropertyName="PnrCode" Width="60"/>
		<ExportField Caption="Провайдер" PropertyName="Provider" Width="15" />
	</Fields>
	<DisplayCurrency>true</DisplayCurrency>
	<MoneyDefaultCurrencyWidth>6</MoneyDefaultCurrencyWidth>
	<MoneyDefaultAmountWidth>11</MoneyDefaultAmountWidth>
	<MoneyDefaultFormat>#,##0.00</MoneyDefaultFormat>
</ExportStructure>