<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Alliance.AllianceTicketPrinter, Luxena.Travel.Alliance"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<HeaderPath>static/templates/ticket/header.pdf</HeaderPath>
				<SegmentHeaderPartPath>static/templates/ticket/row_header.pdf</SegmentHeaderPartPath>
				<SegmentTopPartPath>static/templates/ticket/row_top.pdf</SegmentTopPartPath>
				<SegmentMiddlePartPath>static/templates/ticket/row_middle.pdf</SegmentMiddlePartPath>
				<SegmentBottomPartPath>static/templates/ticket/row_bottom.pdf</SegmentBottomPartPath>
				<FooterPath>static/templates/ticket/footer.pdf</FooterPath>
				<ConditionsPath>static/templates/ticket/conditions.pdf</ConditionsPath>
			</parameters>

		</component>


		<component
			id="orderPrinter"
			service="Luxena.Travel.Reports.IOrderPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultOrderPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
		</component>


		<component
			id="cashOrderForm"
			service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
			type="Luxena.Travel.Reports.CashOrderFormUkrainian, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="invoicePrinter"
			service="Luxena.Travel.Reports.IInvoicePrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.TemplateInvoicePrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<TemplateFileName>~/static/reports/InvoiceTemplate2.xlsx</TemplateFileName>
				<FormNumber>2</FormNumber>
			</parameters>
			
		</component>


		<component
			id="aviaDocumentExcelBuilder"
			type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../conf/export.config</exportConfig>
			</parameters>

		</component>


		<!--Tasks-->

		<!--component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>airTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.AmadeusSftpFileTask, Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<userName>Alliance</userName>
				<password></password>
			</parameters>
		</component-->

	</components>

</configuration>