<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultTicketPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<displayAllSegments>false</displayAllSegments>
			</parameters>
		</component>

		<!--<component
				id="ticketPrinter"
				service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
				type="Luxena.Travel.AtlasTour.AtlasTourTicketPrinter, Luxena.Travel.AtlasTour"
				lifestyle="custom"
				customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<HeaderPath>static/templates/ticket/header.pdf</HeaderPath>
				<SegmentHeaderPartPath>static/templates/ticket/row_header.pdf</SegmentHeaderPartPath>
				<SegmentTopPartPath>static/templates/ticket/row_top.pdf</SegmentTopPartPath>
				<SegmentMiddlePartPath>static/templates/ticket/row_middle.pdf</SegmentMiddlePartPath>
				<SegmentBottomPartPath>static/templates/ticket/row_bottom.pdf</SegmentBottomPartPath>
				<FooterPath>static/templates/ticket/footer.pdf</FooterPath>
				<ConditionsPath>static/templates/ticket/conditions.pdf</ConditionsPath>
				<CompanyName>AtlasTour</CompanyName>
				<CompanyFooter></CompanyFooter>
			</parameters>

		</component>-->

		<!--<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Bsv.BsvTicketPrinter, Luxena.Travel.Bsv"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<framePath>static/templates/ticket/frame.pdf</framePath>
				<headerPath>static/templates/ticket/header.pdf</headerPath>
				<segmentHeaderTemplatePath>static/templates/ticket/group header.pdf</segmentHeaderTemplatePath>
				<segmentDataTemplatePath>static/templates/ticket/group row.pdf</segmentDataTemplatePath>
				<mealInfoPath>static/templates/ticket/meal info.pdf</mealInfoPath>
				<calculationPath>static/templates/ticket/calculation.pdf</calculationPath>
				<penaltiesPath>static/templates/ticket/penalties.pdf</penaltiesPath>
				<servicesPath>static/templates/ticket/services.pdf</servicesPath>
				<companyName>TOB "Аріола групп"</companyName>
			</parameters>

		</component>-->


		<!--<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Fgr.FgrTicketPrinter, Luxena.Travel.Fgr"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<HeaderPath>static/templates/ticket/header.pdf</HeaderPath>
				<SegmentHeaderPartPath>static/templates/ticket/row_header.pdf</SegmentHeaderPartPath>
				<SegmentTopPartPath>static/templates/ticket/row_top.pdf</SegmentTopPartPath>
				<SegmentMiddlePartPath>static/templates/ticket/row_middle.pdf</SegmentMiddlePartPath>
				<SegmentBottomPartPath>static/templates/ticket/row_bottom.pdf</SegmentBottomPartPath>
				<FooterPath>static/templates/ticket/footer.pdf</FooterPath>
				<ConditionsPath>static/templates/ticket/conditions.pdf</ConditionsPath>
				<CompanyName>Flamingo Travel</CompanyName>
				<CompanyFooter>+38(044) 300-01-75 www.fgr.com.ua</CompanyFooter>
			</parameters>

		</component>-->



		<!--<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.TicketPrinter, Luxena.Travel.TovUfsa"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<logoImagePath>static/templates/ticket/utb_ticket_logo.png</logoImagePath>
				<webSite>etravel.co.ua  *  ufsa.com.ua</webSite>
				<email></email>
				<phone></phone>
				-->
		<!--email>sale@ufsa.com.ua</email>
				<phone>+38 044 206 75 76</phone-->
		<!--
			</parameters>
		</component>-->

		<component
				id="orderPrinter"
				service="Luxena.Travel.Reports.IOrderPrinter, Luxena.Travel"
				type="Luxena.Travel.Reports.DefaultOrderPrinter, Luxena.Travel"
				lifestyle="custom"
				customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
		</component>


		<component
				id="cashOrderForm"
				service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
				type="Luxena.Travel.Reports.CashOrderFormUkrainian, Luxena.Travel"
				lifestyle="custom"
				customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
				id="invoicePrinter"
				service="Luxena.Travel.Reports.IInvoicePrinter, Luxena.Travel"
				type="Luxena.Travel.Reports.TemplateInvoicePrinter, Luxena.Travel"
				lifestyle="custom"
				customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<TemplateFileName>~/static/reports/AtlasTour_InvoiceTemplate.xlsx</TemplateFileName>
				<FormNumber>2</FormNumber>
			</parameters>

		</component>

		<component
			id="completionCertificatePrinter"
			service="Luxena.Travel.Reports.ICompletionCertificatePrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.CompletionCertificatePrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<TemplateFileName>~/static/reports/AtlasTour_CompletionCertificateTemplate.xlsx</TemplateFileName>
			</parameters>
			
		</component>

		<!--component
				id="consignmentForm"
				service="Luxena.Travel.Reports.ConsignmentForm, Luxena.Travel"
				type="Luxena.Travel.Reports.ConsignmentForm, Luxena.Travel"
				lifestyle="custom"
				customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<ServiceFeeTitle>Послуги туристичного агентства</ServiceFeeTitle>
			</parameters>

		</component-->



		<component
				id="aviaDocumentExcelBuilder"
				type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
				lifestyle="custom"
				customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../../conf/export.config</exportConfig>
			</parameters>

		</component>


		<!--<component
			id="birthdayTaskRunner"
			type="Luxena.Travel.Services.ScheduledTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<days>1</days>
				<hours>1</hours>
				<minutes>1</minutes>
				<taskNames>
					<array>
						<item>birthdayTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="birthdayTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.BirthdayTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />
-->

		<!--<component
				id="reimportTaskRunner"
				type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
				lifestyle="singleton">
			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>luxenaXmlTask</item>
					</array>
				</taskNames>
			</parameters>
		</component>

		<component
			id="luxenaXmlTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.LuxenaXmlFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\utb\inbox\luxena\</localPath>
			</parameters>
		</component>-->


		<!--<component
			id="airTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AmadeusXmlFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\ftp\amadeus\bsv\</localPath>
			</parameters>

		</component>-->

		<component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">
			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<!--<item>airTask</item>-->
						<!--<item>amadeusXmlTask</item>-->
					</array>
				</taskNames>
			</parameters>
		</component>

		<!--<component
			id="amadeusXmlTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.AmadeusRailSftpFileTask, Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<userName>ACR_ARIOLA</userName>
				<password>ievu23561</password>
			</parameters>
		</component>-->

		<!--component
			id="airTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
<accessMode>Local</accessMode>
<localPath>D:\data\fileserver\ufsa\inbox\air\</localPath>
				<accessMode>Remote</accessMode>
				<uri>ftp://ufsa:Ea6o3_7QWW498h@ftp.tp.contenttravelnetwork.com</uri>
				<enableSsl>true</enableSsl>
			</parameters>
		</component-->

		<!--<component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.AmadeusAviaSftpFileTask, Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<userName>PERSEYTRAVELiev</userName>
				<password>88nkkJ58YN</password>
			</parameters>
		</component>-->


		<!--<component
			id="amadeusXmlTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AmadeusXmlFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\ftp\amadeus\bsv\</localPath>
			</parameters>

		</component>-->



		<!--<component
			id="mirTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>500</interval>
				<taskNames>
					<array>
						<item>mirTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="mirTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.MirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\fileserver\utb\inbox\mir\</localPath>
			</parameters>

		</component>-->



		<!--<component
			id="mirTaskRunner2"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>mirTask2</item>
					</array>
				</taskNames>
			</parameters>

		</component>



		<component
			id="mirTask2"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.MirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Remote</accessMode>
				<uri>ftp://39Puser:Kr!$7359@dc8.kris-travel.com:53976/</uri>
			</parameters>
		</component>-->





		<!--<component
			id="olap"
			type="Luxena.Travel.Domain.OlapService, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<connectionString>Data Source=analysis.travel.luxena.com</connectionString>
				<database>UFSA Travel</database>
			</parameters>

		</component>-->



		<!--<component
			id="exporter"
			service="Luxena.Travel.Export.IExporter, Luxena.Travel"
			type="Luxena.Travel.Export.XmlExporter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportPath>D:\data\outbox</exportPath>
			</parameters>

			<forwardedTypes>
				<add service="Luxena.Travel.Export.IAviaDocumentExporter, Luxena.Travel" />
			</forwardedTypes>

		</component>-->


		<!--<component
			id="gdsFileExporter"
			type="Luxena.Travel.Export.GdsFileExporter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<Destinations>
					<list>
						<item>
							<ownerId>638527b7c93c4732937a1d50738f7f2d</ownerId>
							<inboxPath>D:\data\travel\apps\_FileServer\data\ufsa\inbox\</inboxPath>
							<orderAssignedToPersonId>621f20bff0904d5cbda4bd435aac44b2</orderAssignedToPersonId>
							<orderCustomerId>a816982e844d48ca90e1a43dbabf8d02</orderCustomerId>
							<useAppendingToOrder>true</useAppendingToOrder>
						</item>
						<item>
							<ownerId>006382cbfb92403ca8613fbde34da5da</ownerId>
							<inboxPath>D:\data\travel\apps\_FileServer\data\utb\inbox\</inboxPath>
							<orderAssignedToPersonId>3639bd7545a54acbb39b11b8f5fdb8e5</orderAssignedToPersonId>
							<orderCustomerId>006382cbfb92403ca8613fbde34da5da</orderCustomerId>
							<useAppendingToOrder>true</useAppendingToOrder>
						</item>
					</list>
				</Destinations>
			</parameters>
		</component>-->


		<!--<component
			id="travelPointTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>travelPointWebServiceTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="travelPointWebServiceTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.TravelPointWebServiceTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<userName>WEB12</userName>
				<password>1_e(4)K2UBAl8O8JJ6hD5-5@^</password>
				<key>rX+(X+(kJ1f60n+2BkbI5G75-</key>
			</parameters>

		</component>-->



		<!--<component
			id="drctTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">
		
			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>drctWebServiceTask</item>
					</array>
				</taskNames>
			</parameters>
		
		</component>
		
		<component
			id="drctWebServiceTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.DrctWebServiceTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
		
			<parameters>
				<key>CSWTG7_MT6UiQmezfuaqndGamgZfzJPM2TYHikc4momSDTsSjpMQyfwmXZetsG8</key>
				-->
		<!-- <key>T7X141_khmPY3zrBZGvHDHpRYrGSsZe2xLQjNCAYx9L5Ryw6kjiXG3CkGjpUCmF</key> -->
		<!--
			</parameters>
		
		</component>-->


		<!--<component
			id="galileoTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>galileoWebServiceTask</item>
						-->
		<!--<item>galileoRailWebServiceTask</item>-->
		<!--
					</array>
				</taskNames>
			</parameters>

		</component>-->

		<!--<component
			id="galileoRailWebServiceTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GalileoRailWebServiceTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<domain>bsv</domain>
				<key>4f214</key>
				<token>2e4c6382c0339025cd3a4240075b55bd</token>
			</parameters>

		</component>-->

		<!--<component
			id="galileoWebServiceTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GalileoWebServiceTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<userName>fozzy5f2b</userName>
				<password>fozzy5f2b!!</password>
				<robots>6W7BDP</robots>
			</parameters>

		</component>-->


		<!--<component
			id="sabreFilTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>sabreFilTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="sabreFilTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.SabreFilFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_sabre\utb\</localPath>
			</parameters>

		</component>-->

	</components>

</configuration>