<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.SilpoVoyage.SilpoVoyageTicketPrinter, Luxena.Travel.SilpoVoyage"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<HeaderPath>static/templates/ticket/header.pdf</HeaderPath>
				<SegmentHeaderPartPath>static/templates/ticket/row_header.pdf</SegmentHeaderPartPath>
				<SegmentTopPartPath>static/templates/ticket/row_top.pdf</SegmentTopPartPath>
				<SegmentMiddlePartPath>static/templates/ticket/row_middle.pdf</SegmentMiddlePartPath>
				<SegmentBottomPartPath>static/templates/ticket/row_bottom.pdf</SegmentBottomPartPath>
				<FooterPath>static/templates/ticket/footer.pdf</FooterPath>
				<ConditionsPath>static/templates/ticket/conditions.pdf</ConditionsPath>
				<CompanyName>SILPO VOYAGE</CompanyName>
				<CompanyFooter></CompanyFooter>
			</parameters>

		</component>


		<component
			id="orderPrinter"
			service="Luxena.Travel.Reports.IOrderPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultOrderPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
		</component>


		<component
			id="cashOrderForm"
			service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
			type="Luxena.Travel.Reports.CashOrderFormUkrainian, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="aviaDocumentExcelBuilder"
			type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../conf/export.config</exportConfig>
			</parameters>

		</component>


		<component
			id="exporter"
			service="Luxena.Travel.Export.IExporter, Luxena.Travel"
			type="Luxena.Travel.Export.XmlExporter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportPath>D:\data\travel\apps\_FileServer\data\silpovoyage\outbox</exportPath>
			</parameters>

			<forwardedTypes>
				<add service="Luxena.Travel.Export.IAviaDocumentExporter, Luxena.Travel" />
			</forwardedTypes>

		</component>


		<!--Tasks-->

		<component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>airTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<!--component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Remote</accessMode>
				<uri>ftp://Silpo_voayage:4jjSodGE5s@ftp.amadeus.com:8021/FullAccess/</uri>
			</parameters>
		</component-->

		<component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.AmadeusSftpFileTask, Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<userName>Silpo_voayage</userName>
				<password>4jjSodGE5s</password>
			</parameters>
		</component>


		<component
			id="galileoTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>galileoWebServiceTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="galileoWebServiceTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GalileoWebServiceTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<userName>fozzy5f2b</userName>
				<password>fozzy5f2b!!</password>
				<robots>6W7BDP</robots>
			</parameters>

		</component>

	</components>


</configuration>