<div data-options="dxView : { name: 'Tests', title: 'Tests', wrapper: 'wrapper2' } ">

	<div data-options="dxContent : { targetPlaceholder: 'content' }">
		<div class="form-panel wrapper2" style="padding: 40px">
			<div id="results"></div>
		</div>
	</div>

</div>