/*@main-menu-width: 2 * @header-height;*/
.main-menu.dx-menu-base .dx-menu-item-content {
  padding: 0;
}
.main-menu-item {
  height: 80px !important;
}
.main-menu-item i {
  float: left;
  width: 79px;
  padding-top: 12px;
  text-align: center;
}
.main-menu-item i.fa-3x {
  padding-top: 19px;
}
.main-menu-item h4 {
  font-size: 120%;
  width: 240px;
  white-space: normal;
  margin-left: 80px;
  padding-top: 15px;
  font-weight: normal;
}
.main-menu-item h4.title-only {
  padding-top: 27px;
}
.main-menu-item span {
  display: block;
  margin-left: 80px;
  padding-top: 3px;
  /*width: @menu-width - @header-height;*/
  white-space: normal;
  line-height: 110%;
}
.main-menu-item .down {
  float: right;
  padding: 26px 0 0 0;
  width: 40px;
}
.main-menu-item h1 {
  margin: 0 50px 0 80px;
  padding-top: 14px;
}
.main-menu-item.brd-right {
  border-right: 1px solid white;
}
.main-menu-item.brd-left {
  border-left: 1px solid white;
}
.main-menu-item.brd-bottom {
  border-bottom: 1px solid white;
}
.main-menu-subitem {
  padding: 10px 20px 10px 0 !important;
  /*width: @menu-width !important;*/
  cursor: pointer;
}
.main-menu-subitem i {
  float: left;
  text-align: center;
  width: 40px;
  margin: -4px 10px 0 0;
}
.main-menu-subitem h4 {
  white-space: nowrap;
  margin-left: 50px;
  margin-top: -3px;
}
.main-header-wrapper.wrapper,
.main-header-wrapper.wrapper2 {
  margin-top: 10px;
  height: 80px;
}
.main-menu-root div {
  color: white;
}
.main-menu-root .dx-menu-item-expanded div {
  color: #003d57;
}
.wrapper {
  margin: 0 auto;
  max-width: 732px;
}
.wrapper-bg {
  padding-bottom: 40px;
}
.wrapper2 {
  margin: 0 80px 0 80px;
}
.grid-panel {
  position: relative;
}
.form-panel,
.filter-panel,
.smart-panel {
  padding: 10px 0;
}
.form-panel h1,
.filter-panel h1,
.smart-panel h1,
.form-panel h2,
.filter-panel h2,
.smart-panel h2,
.form-panel h3,
.filter-panel h3,
.smart-panel h3 {
  padding: 12px 15px;
}
.form-panel .dx-fieldset,
.filter-panel .dx-fieldset,
.smart-panel .dx-fieldset {
  margin-top: 20px;
}
.form-panel .dx-fieldset h2,
.filter-panel .dx-fieldset h2,
.smart-panel .dx-fieldset h2,
.form-panel .dx-fieldset h3,
.filter-panel .dx-fieldset h3,
.smart-panel .dx-fieldset h3 {
  padding-left: 0;
}
.form-panel .dx-field-label,
.filter-panel .dx-field-label,
.smart-panel .dx-field-label {
  text-align: right;
  width: 200px !important;
}
.form-panel .dx-field-value,
.filter-panel .dx-field-value,
.smart-panel .dx-field-value,
.form-panel .dx-field-value-static,
.filter-panel .dx-field-value-static,
.smart-panel .dx-field-value-static {
  float: none;
  padding-left: 200px;
}
.form-panel {
  /*border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;*/
}
.form-panel .dx-field-value,
.form-panel .dx-field-value-static {
  width: 100% !important;
}
.form-panel .field-label-width-300 .dx-field-label {
  width: 300px !important;
}
.form-panel .field-label-width-300 .dx-field-value,
.form-panel .field-label-width-300 .dx-field-value-static {
  padding-left: 300px;
}
.form-panel .dx-texteditor {
  margin: 0 !important;
}
.form-panel .dx-accordion-item {
  border: none !important;
}
.form-panel .dx-accordion-item-title {
  background: none;
  padding: 2px 10px 0 10px;
}
.form-panel .dx-accordion-item-title i.title {
  float: left;
  margin: 15px 14px 0 17px;
  width: 42px;
  text-align: center;
}
.form-panel .dx-accordion-item-title .fa-stack {
  width: 40px;
  margin: -7px 0 -12px 0;
}
.form-panel .dx-accordion-item-title .fa-angle-down {
  visibility: visible;
}
.form-panel .dx-accordion-item-title .fa-angle-up {
  visibility: hidden;
}
.form-panel .dx-accordion-item-title::before {
  width: 0;
}
.form-panel .dx-accordion-item-body {
  padding: 0 0 12px 0;
}
.form-panel .dx-accordion-item-opened {
  border: none;
}
.form-panel .dx-accordion-item-opened .dx-accordion-item-title .fa-angle-down {
  visibility: hidden;
}
.form-panel .dx-accordion-item-opened .dx-accordion-item-title .fa-angle-up {
  visibility: visible;
}
.form-panel .dx-accordion-item-opened .tab-accordion-menu {
  visibility: visible;
}
.form-panel .tab-accordion-menu {
  margin: -7px 0 -12px 0;
  visibility: hidden;
}
.form-panel .tab-accordion-menu .dx-menu-items-container {
  height: 76px;
}
.filter-panel {
  /*padding-right: 10px;*/
}
.filter-panel .filter-panel-header {
  padding: 10px 20px 40px 170px;
  position: relative;
}
.filter-panel .filter-panel-header > div {
  width: 100%;
}
.filter-panel .filter-panel-header > div.collapse {
  position: absolute;
  width: auto;
  left: 10px;
}
.filter-panel .dx-field-label {
  width: 150px !important;
}
.filter-panel .dx-field-value,
.filter-panel .dx-field-value-static {
  padding-left: 150px;
  width: auto !important;
}
.smart-panel {
  padding: 0;
}
.smart-panel .dx-field-label {
  width: 180px !important;
}
.smart-panel .dx-field-value,
.smart-panel .dx-field-value-static {
  padding-left: 180px;
  width: auto !important;
}
.smart-panel .dx-field-label,
.smart-panel .dx-field-value-static {
  padding-top: 0;
}
.smart-panel .dx-field {
  min-height: 28px !important;
  margin-bottom: 0;
}
.smart-action-button {
  width: 100%;
  margin-bottom: 10px !important;
}
.dx-field-value > .dx-checkbox {
  float: none !important;
}
.dx-datagrid .dx-row > td.bullet {
  padding: 4px;
}
.field-row {
  display: table;
  width: 100%;
  /*> .dx-widget {
		margin: 0;
	}*/
}
.field-row > div {
  display: table-cell;
  padding-right: 3px;
  vertical-align: top;
}
.field-row > div:last-child {
  padding-right: 0;
}
.money-display-row {
  width: 133px;
  text-align: right;
}
.money-editor-row {
  display: table;
  width: 100%;
}
.money-editor-row > div:first-child {
  display: table-cell;
  min-width: 80px;
  padding-right: 3px;
}
.money-editor-row > div:nth-child(2) {
  display: table-cell;
  width: 75px;
  min-width: 75px;
}
