html, body {
	height: 100%;
}

.btn-icon-p1 {
	padding: 0 .5em;
}


.sortable-column {
	cursor: pointer;
}


.nav.nav-tabs li .tab-close-btn {
	visibility: hidden;
}

.nav.nav-tabs li:hover .tab-close-btn {
	visibility: visible;
	background: none;
}



.form-control.has-error {
	border-color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

	.form-control.ng-invalid:focus {
		border-color: #953b39;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
	}

.ng-invalid .input-group-addon {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #b94a48;
}


/*** Utilites ***/

.red, dl.red dt, dl.red dd {
	border: 1px solid red;
}

.top {
	vertical-align: top;
}

.bottom {
	vertical-align: bottom;
}

.nowrap {
	white-space: nowrap;
}


/*** Bootstrap fixes ***/

a:focus {
	outline: none;
}

.table td dl { margin: 0; }



.nav-tabs.nav-stacked-left {
	border-bottom: none;
}

.nav.nav-tabs.nav-stacked-left .active  a {
	border: 1px solid #dddddd;
	border-right: none;
	border-radius: 4px 0 0 4px;
}

.nav-tabs.nav-stacked-left > li > a:hover {
	border-bottom-color: transparent;
	border-right: 1px solid #dddddd;
}

.nav-tabs.nav-stacked-right {
	border-bottom: none;
}

.nav.nav-tabs.nav-stacked-right .active  a {
	border: 1px solid #dddddd;
	border-left: none;
	border-radius: 0 4px 4px 0;
}

.nav-tabs.nav-stacked-right > li > a:hover {
	border-bottom-color: transparent;
	border-left: 1px solid #dddddd;
}


.btn-details {
	cursor: pointer;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	-webkit-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

	.btn-details:hover,
	.table-hover > tbody > tr:hover > td.btn-details:hover {
		background-color: #ebebeb;
	}

.info > .btn-details:hover {
	background-color: #C4E3F3;
}


.hover-shown {
	opacity: .5;
	-moz-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	-webkit-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
}

.hover-shown:hover,
tr:hover .hover-shown {
	opacity: 1;
}
