<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Utb.UtbTicketPrinter, Luxena.Travel.Utb"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<logoImagePath>static/templates/ticket/utb_ticket_logo.png</logoImagePath>
				<webSite>etravel.co.ua  *  ufsa.com.ua</webSite>
				<email></email>
				<phone></phone>
				<!--email>sale@ufsa.com.ua</email>
				<phone>+38 044 206 75 76</phone-->
			</parameters>

		</component>


		<component
			id="orderPrinter"
			service="Luxena.Travel.Reports.IOrderPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultOrderPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
		</component>

		<component
			id="cashOrderForm"
			service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
			type="Luxena.Travel.Reports.CashOrderFormUkrainian, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="aviaDocumentExcelBuilder"
			type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../conf/export.config</exportConfig>
			</parameters>

		</component>


		<component
			id="birthdayTaskRunner"
			type="Luxena.Travel.Services.ScheduledTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<days>1</days>
				<hours>1</hours>
				<minutes>1</minutes>
				<taskNames>
					<array>
						<item>birthdayTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="birthdayTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.BirthdayTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>airTask</item>
						<item>localAirTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="localAirTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\utb\inbox\air\</localPath>
			</parameters>

		</component>

		<!--component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Remote</accessMode>
				<uri>ftp://Universal_Travel:RxcZ0NnTxi@ftp.amadeus.com:8021/FullAccess</uri>
			</parameters>
		</component-->

		<component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.AmadeusSftpFileTask, Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<userName>Universal_Travel</userName>
				<password>RxcZ0NnTxi</password>
			</parameters>
		</component>


		<component
			id="mirTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>500</interval>
				<taskNames>
					<array>
						<item>mirTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="mirTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.MirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\utb\inbox\mir\</localPath>
			</parameters>

		</component>


		<component
			id="sabreFilTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>sabreFilTask</item>
						<item>sabreFilTask2</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="sabreFilTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.SabreFilFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_sabre\utb\</localPath>
			</parameters>
		</component>

		<component
			id="sabreFilTask2"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.SabreFilFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\utb\inbox\fil\</localPath>
			</parameters>
		</component>


		<component
			id="drctFilTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>localDrctTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="localDrctTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.DrctXmlFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\utb\inbox\drct\</localPath>
			</parameters>
		</component>


             	<component
			id="reimportTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">
			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>luxenaXmlTask</item>
					</array>
				</taskNames>
			</parameters>
		</component>

		<component
			id="luxenaXmlTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.LuxenaXmlFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\utb\inbox\luxena\</localPath>
			</parameters>
		</component>


		<!--component
			id="exporter"
			service="Luxena.Travel.Export.IExporter, Luxena.Travel"
			type="Luxena.Travel.Export.XmlExporter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<exportPath>D:\data\travel\ftp\utb\export\</exportPath>
			</parameters>
			<forwardedTypes>
				<add service="Luxena.Travel.Export.IAviaDocumentExporter, Luxena.Travel" />
				<add service="Luxena.Travel.Export.IPartyExporter, Luxena.Travel" />
			</forwardedTypes>
		</component-->	

		<component
			id="gdsFileExporter"
			type="Luxena.Travel.Export.GdsFileExporter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<Destinations>
					<list>
						<item>
							<ownerId>b6387663fb9f44e6a3df212081a67310</ownerId>
							<inboxPath>D:\data\travel\apps\_FileServer\data\ufsa\inbox\</inboxPath>
							<orderAssignedToPersonId>fc43c57225264b0b934122e447738d6b</orderAssignedToPersonId>
							<orderCustomerId>bdddbeaef64b4f6187837564dabaf706</orderCustomerId>
							<useAppendingToOrder>true</useAppendingToOrder>
						</item>
						<item>
							<ownerId>454ef229688144d6821bf0c9426d51d5</ownerId>
							<inboxPath>D:\data\travel\apps\_FileServer\data\tovufsa\inbox\</inboxPath>
							<orderAssignedToPersonId>b90940893cef46feb95d7e7ad16ca748</orderAssignedToPersonId>
							<orderCustomerId>454ef229688144d6821bf0c9426d51d5</orderCustomerId>
							<useAppendingToOrder>true</useAppendingToOrder>
						</item>
					</list>
				</Destinations>
			</parameters>
		</component>

		<component
			id="olap"
			type="Luxena.Travel.Domain.OlapService, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<connectionString>Data Source=analysis.travel.luxena.com</connectionString>
				<database>UTB Travel</database>
			</parameters>

		</component>

	</components>

</configuration>