<div class="main-layout" data-options="dxLayout : { name: 'agent', platform: 'generic' }">


	<div class="view-container">
		<div class="fill" data-options="dxTransition: { name: 'contentTransition', animation: 'fade' }">
			<div data-options="dxContentPlaceholder : { name: 'content' }" class="fill">
				<!--<div class="dx-loadindicator-container">
					<div data-options="dxLoadIndicator: { visible: true }"></div>
				</div>-->
			</div>
		</div>
	</div>


	<div class="main-menu" data-options="dxContentPlaceholder : { name: 'main-menu' }">
		<!--<div data-bind="dxMenu: Luxena.Layouts.getMainMenuOptions()"></div>-->
	</div>


	<!--<div class="main-cart">
		<div data-bind="attr: { class: $data.wrapper ? 'main-header-wrapper ' + $data.wrapper : '' }">
		</div>
	</div>-->


	<!--<div data-bind="dxPopover: Luxena.getSmartPopoverOptions()">
		<div data-options="dxTemplate: { name: 'content' }">
			<div class="smart-panel" data-bind="with: Luxena.smartViewScope">
				<div data-bind="renderer: $data.containers.fields"></div>
				<div data-bind="renderer: $data.containers.toolbar"  style="margin: 0 -20px -20px -20px"></div>
			</div>
		</div>
	</div>-->


</div>