<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<properties>
		<invoiceExportPath>D:\data\ftp\LocalUser\anextour\export\</invoiceExportPath>
		<invoiceArchivePath>D:\data\ftp\LocalUser\anextour\archive\</invoiceArchivePath>
	</properties>

	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultTicketPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="cashOrderForm"
			service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
			type="Luxena.Travel.Reports.CashOrderFormUkrainian, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="aviaDocumentExcelBuilder"
			type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../conf/export.config</exportConfig>
			</parameters>

		</component>


		<component
			id="entityExporter"
			service="Luxena.Travel.Reports.IEntityExporter, Luxena.Travel"
			type="Luxena.Travel.Reports.InvoiceXmlExporter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportPath>#{invoiceExportPath}</exportPath>
				<archivePath>#{invoiceArchivePath}</archivePath>
				<dateFormat>yyyy-MM-dd HH:mm:ss</dateFormat>
			</parameters>
		</component>


		<!--Tasks-->

		<component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>airTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="airTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Remote</accessMode>
				<uri>ftp://anextour:anextour@ftp.amadeus.com:8021/FullAccess</uri>
			</parameters>

		</component>

		<component
			id="mirTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>500</interval>
				<taskNames>
					<array>
						<item>mirTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="mirTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.MirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\anex\inbox\mir\</localPath>
			</parameters>

		</component>

	</components>

</configuration>