@inherits EntityViewPage
@{
    Layout = "~/App/Layouts/ViewLayout.cshtml";
    Name = "organizationDepartmentList";
}
    

<h3>Departments</h3>
<h3>Departments</h3>
<h3>Departments</h3>
<h3>Departments</h3>
<h3>Departments</h3>
<h3>Departments</h3>
<h3>Departments</h3>
