@import "icons.scss";
/*@import "utils.scss";
@import "gears.scss";
@import "menu.scss";
@import "views.scss";
@import "grids.scss";
@import "forms.scss";*/

/*
.filter-panel {
	.filter-panel-header {
		padding: 10px 20px 40px 170px;
		position: relative;

		> div {
			width: 100%;
		}

			> div.collapse {
				position: absolute;
				width: auto;
				left: 10px;
			}
	}

	.dx-field-label {
		width: 150px !important;
	}

	.dx-field-value, .dx-field-value-static {
		padding-left: 150px;
		width: auto !important;
	}

}


.dx-field-value {

	> .dx-checkbox {
		float: none !important;
	}

}

.dx-datagrid .dx-row > td.bullet {
	padding: 4px;
}


.money-display-row {
	width: 133px;
	text-align: right;
}

.money-editor-row {
	display: table;
	width: 100%;

	> div:first-child {
		display: table-cell;
		min-width: 80px;
		padding-right: 3px;
	}

	> div:nth-child(2) {
		display: table-cell;
		width: 75px;
		min-width: 75px;
	}
}*/


