.view-wrapper-6 {
	max-width: 560px; 
	margin: 0 auto;
}

.view-wrapper-8 {
	max-width: 840px; 
	margin: 0 auto;
}

.view-wrapper-12 {
	max-width: 1120px; 
	margin: 0 auto;
}


h1, h2, h3, h4 {
	.fa {
		color: inherit;
	}
}
