<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Reports.DefaultTicketPrinter, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="cashOrderForm"
			service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
			type="Luxena.Travel.Reports.CashOrderFormRussian, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="aviaDocumentExcelBuilder"
			type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../conf/export.config</exportConfig>
			</parameters>

		</component>


		<!--Tasks-->


		<component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>airTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="airTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.Avia.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<!--accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\gtg\inbox\air\</localPath-->
				<accessMode>Remote</accessMode>
				<uri>ftp://rusaviatour:PC730r8074@172.23.0.1:8021/FullAccess</uri>
			</parameters>

		</component>


		<component
			id="mirTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>500</interval>
				<taskNames>
					<array>
						<item>mirTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="mirTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.Avia.MirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\gtg\inbox\mir\</localPath>
			</parameters>

		</component>

	</components>

</configuration>