<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding name="rsa_keyBinding">
     <security mode="Transport"/>
    </binding>
    <binding name="rsa_keyBinding1"/>
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="https://webservices.bmp.viaamadeus.com:443/rsa_key.php" binding="basicHttpBinding" bindingConfiguration="rsa_keyBinding" contract="RsaKeysService.rsa_keyPortType" name="rsa_keyPort"/>
  </client>
	</system.serviceModel>
</configuration>
