<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<components>

		<component
			id="ticketPrinter"
			service="Luxena.Travel.Reports.ITicketPrinter, Luxena.Travel"
			type="Luxena.Travel.Bsv.BsvTicketPrinter, Luxena.Travel.Bsv"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<framePath>static/templates/ticket/frame.pdf</framePath>
				<headerPath>static/templates/ticket/header.pdf</headerPath>
				<segmentHeaderTemplatePath>static/templates/ticket/group header.pdf</segmentHeaderTemplatePath>
				<segmentDataTemplatePath>static/templates/ticket/group row.pdf</segmentDataTemplatePath>
				<mealInfoPath>static/templates/ticket/meal info.pdf</mealInfoPath>
				<calculationPath>static/templates/ticket/calculation.pdf</calculationPath>
				<penaltiesPath>static/templates/ticket/penalties.pdf</penaltiesPath>
				<servicesPath>static/templates/ticket/services.pdf</servicesPath>
				<companyName>TOB "Аріола групп"</companyName>
			</parameters>

		</component>


		<component
			id="cashOrderForm"
			service="Luxena.Travel.Reports.ICashOrderForm, Luxena.Travel"
			type="Luxena.Travel.Reports.CashOrderFormUkrainian, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />


		<component
			id="aviaDocumentExcelBuilder"
			type="Luxena.Travel.Export.AviaDocumentExcelBuilder, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<exportConfig>~/../conf/export.config</exportConfig>
			</parameters>

		</component>


		<component
			id="birthdayTaskRunner"
			type="Luxena.Travel.Services.ScheduledTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<days>1</days>
				<hours>0</hours>
				<minutes>0</minutes>
				<taskNames>
					<array>
						<item>birthdayTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="birthdayTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.BirthdayTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle" />
			                                                                 	

		<component
			id="airTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<item>airTask</item>
						<item>amadeusXmlTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<!--component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<accessMode>Remote</accessMode>
				<uri>ftp://BiletivSvit:ievu23561@ftp.amadeus.com:8021/FullAccess</uri>
			</parameters>
		</component-->

		<component
			id="airTask" service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.AmadeusSftpFileTask, Luxena.Travel"
			lifestyle="custom" customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">
			<parameters>
				<userName>BiletivSvit</userName>
				<password>ievu23561</password>
			</parameters>
		</component>


		<component
			id="amadeusXmlTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.AmadeusXmlFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\ftp\amadeus\bsv\railAMA</localPath>
			</parameters>

		</component>



		<component
			id="localFilesTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>500</interval>
				<taskNames>
					<array>
						<item>mirTask</item>
						<item>tktTaskArtema</item>
						<item>tktTaskSaksaganskogo</item>
					</array>
				</taskNames>
			</parameters>

		</component>


		<component
			id="mirTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.MirFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\bsv\inbox\mir\</localPath>
			</parameters>

		</component>

		<component
			id="galileoRailTaskRunner"
			type="Luxena.Travel.Services.PeriodicTaskRunner, Luxena.Travel"
			lifestyle="singleton">

			<parameters>
				<interval>20000</interval>
				<taskNames>
					<array>
						<!--<item>galileoWebServiceTask</item>-->
						<item>galileoRailWebServiceTask</item>
					</array>
				</taskNames>
			</parameters>

		</component>

		<component
			id="galileoRailWebServiceTask"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GalileoRailWebServiceTask, Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<domain>bsv</domain>
				<key>4f214</key>
				<token>2e4c6382c0339025cd3a4240075b55bd</token>
			</parameters>

		</component>

		<component
			id="tktTaskArtema"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.TktFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\bsv\inbox\tkt\artema</localPath>
				<officeCode>BSV.Artema</officeCode>
				<officeIata>72320441</officeIata>
			</parameters>

		</component>


		<component
			id="tktTaskSaksaganskogo"
			service="Luxena.Travel.Services.ITask, Luxena.Travel"
			type="Luxena.Travel.Services.GdsFileTask`1[[Luxena.Travel.Domain.TktFile, Luxena.Travel]], Luxena.Travel"
			lifestyle="custom"
			customLifestyleType="Luxena.Castle.ScopedLifestyle, Luxena.Castle">

			<parameters>
				<accessMode>Local</accessMode>
				<localPath>D:\data\travel\apps\_FileServer\data\bsv\inbox\tkt\saksaganskogo</localPath>
				<officeCode>bsv.saksaganskogo</officeCode>
				<officeIata>72321874</officeIata>
			</parameters>

		</component>


	</components>

</configuration>